body {
    font-family: Arial;
    text-align: center;
    margin-top: 60px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
}

button {
    padding: 8px 15px;
    margin: 5px;
}
